body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  color: hsl(186deg, 14%, 43%);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

#logo {
  position: absolute;
  margin-top: -55vh;
}
@media (min-width: 1080px) {
  #logo {
    margin-top: -40px;
  }
}

main {
  text-align: left;
  background-color: hsl(0deg, 0%, 100%);
  width: 90vw;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100vh;
}
@media (min-width: 800px) {
  main {
    border-radius: 20px;
  }
}
@media (min-width: 1080px) {
  main {
    width: 65vw;
    height: 60vh;
    position: absolute;
    margin-left: -35vw;
    margin-top: 50px;
  }
}

h1 {
  margin-left: 28px;
  font-size: 15px;
  padding-top: 25px;
}
@media (min-width: 1080px) {
  h1 {
    padding-top: 45px;
  }
}

input {
  margin-left: 28px;
  border-radius: 5px;
  width: 80vw;
  background-color: hsl(189deg, 41%, 97%);
  border: none;
  height: 30px;
  font-size: 24px;
  font-weight: 700;
  color: hsl(183deg, 100%, 15%);
  text-align: right;
  margin-right: 5px;
  padding: 3px;
}
input:focus {
  outline: solid 2px hsl(172deg, 67%, 45%);
}
input:required:invalid {
  outline: solid 2px red;
}
@media (min-width: 800px) {
  input {
    width: 60vw;
    height: 40px;
  }
}
@media (min-width: 1080px) {
  input {
    width: 30vw;
  }
}

/*#bill{
    background-image: url(images/icon-dollar.svg) no-repeat left 5px center;
}*/
#grid {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto;
  width: 80vw;
  margin-left: 28px;
  justify-content: center;
}
@media (min-width: 800px) {
  #grid {
    grid-template-columns: auto auto auto;
    gap: 10px;
    width: 60vw;
  }
}
@media (min-width: 1080px) {
  #grid {
    margin-left: -13vw;
    gap: 7px;
  }
}

button {
  border: none;
  border-radius: 8px;
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
  width: 25vw;
  font-family: "Space Mono", monospace;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
  cursor: pointer;
}
button:focus {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
}
@media (min-width: 800px) {
  button {
    width: 20vw;
  }
}
@media (min-width: 1080px) {
  button {
    width: 10vw;
  }
}

#custom {
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  width: 22vw;
  font-family: "Space Mono", monospace;
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(184deg, 14%, 56%);
  margin-left: -2px;
}
#custom:focus {
  outline: solid 2px hsl(172deg, 67%, 45%);
}
@media (min-width: 800px) {
  #custom {
    width: 18vw;
    padding: 2px;
  }
}
@media (min-width: 1080px) {
  #custom {
    width: 10vw;
  }
}

#reset {
  width: 70vw;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  margin-left: 28px;
  margin-bottom: 20px;
}
#reset:focus {
  background-color: hsl(185deg, 41%, 84%);
}
@media (min-width: 1080px) {
  #reset {
    width: 23vw;
    height: 7vh;
    margin-top: 120px;
  }
}

#container {
  background-color: hsl(183deg, 100%, 15%);
  width: 80vw;
  border-radius: 20px;
  margin-left: 28px;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 30px;
}
@media (min-width: 1080px) {
  #container {
    float: right;
    width: 27vw;
    height: 53vh;
    margin-top: -40vh;
    margin-right: 20PX;
  }
}

p {
  margin-left: 28px;
  padding-top: 10px;
  color: hsl(0deg, 0%, 100%);
}

span {
  font-size: 10px;
  color: hsl(189deg, 41%, 97%);
}

#total {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: hsl(172deg, 67%, 45%);
  margin-left: -20vw;
}
@media (min-width: 1080px) {
  #total {
    margin-right: -10vw;
  }
}

#tip {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: hsl(172deg, 67%, 45%);
  margin-left: -20vw;
}
@media (min-width: 1080px) {
  #tip {
    margin-right: -10vw;
  }
}/*# sourceMappingURL=main.css.map */