@import "./variables";

@mixin buttonStyle(){
    border:none;
    border-radius: 8px;
    padding: 5px;
    font-size: $font-size;
    font-weight: $font-weight;
    width: 25vw;
    font-family: $font-family;
    background-color: $very-dark-cyan;
    color: $very-light-grayish-cyan;
    cursor: pointer;
    &:focus{
        @include buttonActive()
    }
}

@mixin amounts(){
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: $font-weight;
    color:$strong-cyan;
    margin-left:-20vw;
}

@mixin buttonActive(){
    background-color: $light-grayish-cyan;
    color: $very-dark-cyan;
}

@mixin inputStyle(){
    margin-left:$margin-left;
    border-radius: 5px;
    width:80vw;
    background-color: $very-light-grayish-cyan;
    border:none;
    height: 30px;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $very-dark-cyan;
    text-align: right;
    margin-right: 5px;
    padding:3px;
    &:focus{
        outline:solid 2px $strong-cyan;
    }
    &:required:invalid{
        outline:solid 2px red;
    }
}

@mixin tablet(){
    @media(min-width:$tablet){
        @content;
    }
}
@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
}

body{
    background-color: $light-grayish-cyan;
    font-family: $font-family;
    color: $dark-grayish-cyan;
    display:flex;
    height:100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}
#logo{
    position: absolute;
    margin-top: -55vh;
    @include desktop{
        margin-top: -40px;
    }
}
main{
    text-align: left;
    background-color: $white;
    width:90vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100vh;

    @include tablet(){
        border-radius: 20px;
        //background-color: red;
       
    }
    @include desktop(){
        //background-color: black;
        width:65vw;
        height: 60vh;
        position:absolute;
        margin-left: -35vw;
        margin-top:50px;
    }
}
h1{
    margin-left: $margin-left;
    font-size:15px;
    padding-top: 25px;
    @include desktop(){
        padding-top: 45px;
    }
}
input{
    @include inputStyle();
    @include tablet(){
        width:60vw;
        height: 40px;
    }
    @include desktop(){
        width:30vw;
    }
}
/*#bill{
    background-image: url(images/icon-dollar.svg) no-repeat left 5px center;
}*/
#grid{
    display:grid;
    gap:10px;
    grid-template-columns: auto auto;
    width: 80vw;
    margin-left: $margin-left;
    justify-content: center;
    @include tablet(){
        grid-template-columns: auto auto auto;
        gap:10px;
        width:60vw;
    }
    @include desktop(){
        margin-left: -13vw;
        gap:7px;
    }
}
button{
    @include buttonStyle();
    @include tablet(){
        width: 20vw;
    }
    @include desktop(){
        width: 10vw;
        
    }
}

#custom{
    border:none;
    border-radius: 8px;
    padding: 10px;
    font-size: $font-size;
    font-weight: $font-weight;
    width: 22vw;
    font-family: $font-family;
    background-color: $very-light-grayish-cyan;
    color: $grayish-cyan;
    margin-left: -2px;
    &:focus{
        outline:solid 2px $strong-cyan;
    }
    @include tablet(){
        width: 18vw;
        padding: 2px;
    }
    @include desktop(){
        width: 10vw;
    }
}
#reset{
    width:70vw;
    background-color: $strong-cyan;
    color: $very-dark-cyan;
    margin-left: $margin-left;
    margin-bottom: 20px;
    &:focus{
        background-color: $light-grayish-cyan;
    }
    @include desktop(){
        width:23vw;
        height: 7vh;
        margin-top: 120px;
    }
}
#container{
    background-color: $very-dark-cyan;
    width: 80vw;
    border-radius: 20px;
    margin-left: $margin-left;
    display:grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    @include desktop(){
        float:right;
        width: 27vw;
        height: 53vh;
        margin-top: -40vh;
        margin-right: 20PX;
    }
}
p{
    margin-left:$margin-left;
    padding-top: 10px;
    color:$white;
}
span{
    font-size: 10px;
    color:$very-light-grayish-cyan;
}
#total{
    @include amounts();
    @include desktop(){
        margin-right: -10vw;
    }
}

#tip{
    @include amounts();
    @include desktop(){
        margin-right: -10vw;
    }
}